.campoObrigatorio{
    color:red;
    font-size:20px;
}

.habilidadeEsquerda{
    font-size: 20px  !important;
}

.habilidadeDireita{
    font-size: 20px  !important;
}
.labelHabilidade{
    font-size: 25px  !important;
    font-weight: bold;
}

.numeracao{
    padding-right: 2%;
}

.sinalizacaoDaParteDoFormulario{
    width: 15px !important;
    height: 15px !important;
}

label{
    font-size: 15px !important;
}


@media only screen and (min-width: 1300px){
    .habilidadeEsquerda {
        width: auto !important;
        padding-right: 40px;
    }

    .groupHabilidades {
        width: 450px !important;        
    }

    .numeracao {
        padding-right: 20px !important;    
    }

    .habilidadeDireita {
        width: auto !important;
    }
}