<div class="row">
</div>
<div class="row"></div>
<div class="container">
    <table class="highlight">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Skype</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let candidato of candidatos">
                <td (click)="abrirCandidato(candidato.id)">{{candidato.nome}}</td>
                <td (click)="abrirCandidato(candidato.id)">{{candidato.email}}</td>
                <td (click)="abrirCandidato(candidato.id)">{{candidato.skype}}</td>
                <td (click)="deletarCandidato(candidato.id)"><i class="material-icons">delete</i></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" (click)="addCandidato()">
        <i class="large material-icons">add</i>
    </a>
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<paginacao (navegar)="moverParaPagina($event)" (avancar)="avancarParaPagina()" (voltar)="voltarParaPagina()" [pagina]="paginacao.Pagina" [totalPaginas]="paginacao.TotalPaginas"></paginacao>

<router-outlet></router-outlet>